<app-header></app-header>
<div class="pc-container">
    <div class="pcoded-content">
        <h3>Danh Mục Khởi Tạo</h3>
        <div class="table-content">
            <div class="title form-group">
                <label>Bảng Dữ Liệu</label>
                <select class="form2 form-select form-control" [(ngModel)]="selectedQueryId" aria-label="Default select example">
                  <option value="" selected disabled>Chọn một tùy chọn</option> <!-- Placeholder option -->
                  <option *ngFor="let query of querys" [value]="query.queryId">{{ query.queryName }}</option>
                </select>
              </div>
            <!-- <div class=" title form-group">
                <label>Mẫu Báo Cáo</label>
                <select class="form2 form-select  form-control " aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option *ngFor="let group of groupReport" [value]="group.id">{{ group.groupReport }}</option>
                  </select>
            </div>
            <div class=" title form-group">
                <label>Truy Vấn</label>
                <select class="form2 form-select  form-control " [(ngModel)]="selectedQueryId" aria-label="Default select example">
                    <option  selected>Open this select menu</option>
                    <option *ngFor="let query of querys" [value]="query.queryName">{{ query.queryName }}</option>
                  </select>
            </div> -->
            <div>
                <div class="button-group">
                    <button type="button" class="btn btn-primary" >Generate</button>
                  </div>
            </div>
             
    </div>
</div>
        
        






